/* Loader Animations */

.loader-spin {
    animation: spin 1.5s linear infinite;
}

.loader-spin-reverse {
    animation: spin-reverse 2s linear infinite;
}

.loader-pulse {
    animation: pulse-ring 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.loader-pulse-delayed {
    animation: pulse-ring 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    animation-delay: 1.5s;
}

.loader-scale {
    animation: scale-up 1s ease-in-out infinite alternate;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes spin-reverse {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes pulse-ring {
    0% {
        transform: scale(0.8);
        opacity: 0.5;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.1;
    }

    100% {
        transform: scale(0.8);
        opacity: 0.5;
    }
}

@keyframes scale-up {
    0% {
        transform: scale(0.8);
        opacity: 0.8;
    }

    100% {
        transform: scale(1.2);
        opacity: 1;
    }
}